# Importing libraries

In [1]:
import pandas as pd
reviews = pd.read_csv("winemag-data-130k-v2.csv")
reviews.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

## 1. What is the data type of the `points` column in the dataset?

In [2]:
dtype = reviews.points.dtype
dtype

dtype('int64')

## 2. Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [3]:
points_strings = reviews.points.astype('str')
points_strings

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

## 3. Sometimes the price column is `null`. How many reviews in the dataset are missing a price?

In [4]:
n_missing_prices = reviews.price.isnull().sum()
n_missing_prices

8996

## 4. What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [5]:
reviews.region_1 = reviews.region_1.fillna('Unknown')
reviews.region_1.value_counts().sort_values(ascending=False)

Unknown                         21247
Napa Valley                      4480
Columbia Valley (WA)             4124
Russian River Valley             3091
California                       2629
                                ...
Massachusetts                       1
Vin Santo di Carmignano             1
Coteaux du Languedoc-Pézenas        1
Corton Perrières                    1
Colli del Limbara                   1
Name: region_1, Length: 1230, dtype: int64